span {
    cursor:pointer; 
    -webkit-user-select: none; /* Safari */        
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* IE10+/Edge */
user-select: none; /* Standard */
}
		
		.minus, .plus{
			width:20px;
			height:20px;
			background:green;
			border-radius:4px;
			padding:8px 5px 8px 5px;
            border:1px solid #ddd;
            vertical-align: middle;
            color: white;

           
        }
        .minus{
            background-color:rgba(255, 60, 0, 0.932);
            color: white;
        }
		input{
			height:40px;
            width: 50px;
            text-align: center;
            font-size: 26px;
            border:1px solid #ddd;
            border-radius:4px;
            display: inline-block;
            vertical-align: middle;
        }